*{
  font-family: 'Ubuntu', sans-serif;
}
.imgBox{
  text-align: center;
  font-family: 'Lobster', cursive;
  background: chartreuse;
}

.editarticle{
  border: 1px solid cyan;
  padding: 2%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.addarticle{
  border: 1px solid cyan;
  padding: 2%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.cont{
  border: 1px solid cyan;
    padding: 2%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.list-group-item{
  background: white;
  width: 50%;
  transition: background 0.5s;
  transition: width 0.5s;

}
.list-group-item:hover{
  background: cyan;
  width: 90%;

}

.cmbox{
  border: 1px solid cyan;
  border-radius: 0px 25px 0px 25px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  width:100%;
  padding: 2%;
}

.commentBox{
    width:50% !important;
  }

.img-responsive{
  height:20px;
    width:50px;
  }

  .fade-enter{
    opacity: 0;
  }

  .fade-enter-active{
    opacity:1;
    transition: 0.5s ease-in all;
  }

.foot{
  border-top: solid 1px cyan;
  padding: 2%;
  text-align: -webkit-center;
  text-align: -moz-center;

}

.list-items{
  transition: transform 0.5s, opacity 0.5s;
  transform: translate3d(0, 0, 0);
}

.list-items.transition-appear {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.list-items.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.list-items.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.list-items.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.detail-page {
    overflow: auto;
    box-sizing: border-box;
    transition: transform 0.5s, opacity 0.5s;
}

.detail-page.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.detail-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
