*{
  font-family: 'Ubuntu', sans-serif;
}
.imgBox{
  text-align: center;
}

.list-group-item{
  background: white;
  width: 50%;
  transition: background 0.5s;
  transition: width 0.5s;

}
.list-group-item:hover{
  background: cyan;
  width: 100%;

}

.commentBox{
    width:50% !important;
  }

.img{
    opacity:0.5;
    height:30%;
    width:30%;
    transition: height 1s;
    transition: width 1s;
  }

.img:hover{
    height:20%;
    width:20%;
  }

  .fade-enter{
    opacity: 0;
  }

  .fade-enter-active{
    opacity:1;
    transition: 0.5s ease-in all;
  }
