*{
  font-family: 'Ubuntu', sans-serif;
}
.imgBox{
  text-align: center;
  font-family: 'Lobster', cursive;
  background: chartreuse;
}

.editarticle{
  border: 1px solid cyan;
  padding: 2%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.addarticle{
  border: 1px solid cyan;
  padding: 2%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.cont{
  border: 1px solid cyan;
    padding: 2%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.list-group-item{
  background: white;
  width: 50%;
  transition: background 0.5s;
  transition: width 0.5s;

}
.list-group-item:hover{
  background: cyan;
  width: 100%;

}

.cmbox{
  border: 1px solid cyan;
  border-radius: 0px 25px 0px 25px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  width:100%;
  padding: 2%;
}

.commentBox{
    width:50% !important;
  }

.img{
    opacity:0.5;
    height:30%;
    width:30%;
    transition: height 1s;
    transition: width 1s;
  }

.img:hover{
    height:20%;
    width:20%;
  }

  .fade-enter{
    opacity: 0;
  }

  .fade-enter-active{
    opacity:1;
    transition: 0.5s ease-in all;
  }
